definitions:
  api_response.Response:
    properties:
      data:
        type: object
      error_info:
        type: ErrorInfo
      message:
        type: string
    type: object
info:
  contact: {}
  license: {}
paths:
  /file/upload:
    post:
      consumes:
      - application/json
      description: Api upload file
      parameters:
      - description: upload images
        in: formData
        name: file
        required: true
        type: file
      - description: request
        in: formData
        name: type
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api_response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/api_response.Response'
      summary: Upload file
      tags:
      - file
swagger: "2.0"
